<head>
    
</head>
<div id='main-container'>
    <div id='canvas-container'>
        <div id='canvas-main' class="canvas-main">
            <canvas id='map'></canvas>
            <div id='top'>
                <div class='mainMenu-buttons'>
                    <a id='players' class="players"></a>
                    <a id='settings' class='settings'></a>
                    <a id='notes' class="notes"></a>
                </div>
            </div>
            <div class='info-main'>
                <h1 id='map-name'></h1>
                <h1 id='squares'></h1>
            </div>
        </div>
    </div>
    <div id='menu' class='input-box' style="display: none;">
        <a id='settings-close' class="close-settings"></a>
        <label class='label'>Squares Width</label>
        <input id='sq-w' type="number" class="sq w" value="1">
        <label class='label'>Squares Height</label>
        <input id='sq-h' type="number" class="sq h" value="1">
    </div>
</div>
<script src="/assets/js/dmSite.js"></script>