<div id='main-container'>
    <div id='canvas-container'>
        <div id='canvas-main' class="canvas-main">
            <canvas id='map'></canvas>
            <div id='top'>
                <div class='mainMenu-buttons'>
                    <a id='menu' class="menu" title="Menu"></a>
                    <div id="options-container" class="options-container"> 
                        <a id='players' class="players" title="Players"></a>
                        <a id='settings' class='settings' title="Settings"></a>
                        <a id='notes' class="notes" title="Notes"></a>
                        <a id='chat' class="chat" title='Chat'></a>
                    </div>
                </div>
            </div>
            <div class='info-main'>
                <h1 id='map-name'></h1>
            </div>
            <div  id='chat-main-container' class="chat-main-container hide">
                <div class="chat-buttons-container">
                    <div id='chat-convo-container' class="chat-convo-container">
                        <a class="chat-convo selected">All</a>
                    </div>
                    <a id='chat-hide-icon' class="chat-hide-icon" onclick="onChatIconMouseDown(event)"></a>
                </div>
                <div id='chat-container' class="chat-container">
                    <div id='<%- id %>' class="chat-box">
                    </div>
                    <div class="chat-inputs">
                        <textarea id='chat-textarea' class='chat-textarea' placeholder="Chat here..."></textarea>
                        <a id='send-chat' class='send-chat'>Send</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id='settings-' class='input-box' style="display: none;">
        <a id='settings-close' class="close-settings"></a>
        <label class='label'>Squares Width</label>
        <input id='sq-w' type="number" class="sq w" value="1">
        <label class='label'>Squares Height</label>
        <input id='sq-h' type="number" class="sq h" value="1">
        <label class="label">Link to Share to Players</label>
        <input id='linkshare' type="text" disabled value="https://dndvibes.com/player/:user/<%- id %>">
    </div>
</div>
<script src="/assets/js/playerSite.js"></script>