@font-face {
    font-family: dnd;
    src: url('/assets/fonts/romic/RomicStd-Medium.otf');
    font-weight:normal;
}
@font-face {
    font-family: dnd;
    src: url('/assets/fonts/romic/RomicStd-Bold.otf');
    font-weight:bold;
}
@font-face {
    font-family: dnd;
    src: url('/assets/fonts/romic/RomicStd-Light.otf');
    font-weight:lighter;
}


body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #000000;    
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    background-blend-mode: darken;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
}

.intro{
    text-align: center;
    color: white;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.h2{
    color: rgb(167, 167, 167);
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 5rem;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
}

.main-container.next{
    justify-content: center;
    height: 100%;
}

.intro.h1.hide{
    color: rgba(0, 0, 0, 0);
}

.intro.h2.hide{
    color: rgba(0, 0, 0, 0);
}

.loading{
    width: 250px;
    height: 250px;
    background-image: url('/img/loading.gif');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    transition-duration: 450ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
    margin-top: -250px;
}

.loading.hide{
    opacity: 0;
}

.menu-container{
    width: 50%;
    min-width: 200px;
    text-align: center;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#map{
    opacity: 0;
}

#map-label{
    width: 200px;
    height: 200px;
    background-color: #4d4d4d88;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: solid white 2px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff9e;
    margin-top: 1rem;
}

#map-label:hover{
    background-color: #b3b3b388;
}

.message{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding:0rem;
    background-color: rgba(165, 42, 42, 0);
    font-size: 0rem;
    margin-top: 1rem;
    width: 0%;
    height: 0rem;
    opacity: 0;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
}

.message.error{
    padding:1.5rem;
    font-size: 1rem;
    background-color: brown;
    width: 100%;
    height: fit-content;
    opacity: 1;
    border-radius: 10px;
}

.map-form{
    grid-template-columns: auto auto auto;
    display: grid;
    justify-content: center;
    align-items: center;
}

.map-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: min-content;
    margin-right: .5rem;
    margin-left: .5rem;
}

#map-name{
    color: rgba(255, 255, 255, 0.719);
    /* margin-top: 1rem; */
    background-color: rgba(102, 102, 102, 0.58);
    border: solid #737373 2px;
}

#map-submit{
    display: inline-block;
    position: relative;
    margin-top: 1rem;
    background-color: steelblue;
    color: white;
    width: 200px;
    padding: 1rem;
    cursor: pointer;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
}

#map-submit:hover{
    background-color: white;
    color: black;
}

.map-uploaded-img{
    margin-top: 1rem;
    width: 200px;
    height: 200px;
}

.campaign-labels{
    display: inline-block;
    width: 100%;
    font-family: DnD;
    color: white;
}

.campaign-description{
    resize: none;
}

.campaign-inputs{
    color: rgba(255, 255, 255, 0.719);
    margin-top: .2rem;
    margin-bottom: 1rem;
    background-color: rgba(102, 102, 102, 0.58);
    border: solid #737373 2px;
    width: 100%;
}